#
# Copyright (c) 2013 Coraid, Inc.
# All rights reserved.
#

PKG="CORDcec"
NAME="Coraid Ethernet Console"
ARCH="i386"
VERSION="PKGVERS"
CATEGORY=system
DESC="Coraid Ethernet Console Utility"
VENDOR="Coraid, Inc."
HOTLINE="Please contact your local service provider"
EMAIL="support@coraid.com"
BASEDIR=/
